<!DOCTYPE html>
<html lang="en">
  <head>

    <link type="text/css" href="/static/css/create_reservation.css" rel="Stylesheet"/>

  </head>
  <body>

    <div id="header">
      <div id="headline">
        Reservation System
      </div>
      <div id="nav">
        <a href="{% url 'home'%}">View All Reservations</a>
        <a href="{% url 'reservation'%}">Create Reservation</a>
        <a href="{% url 'signup'%}">Sign Up</a>
      </div>
    </div>

    <div id="center">{{ success }}</div>
    <form action="" method="post">
      <table>{{ reservation_form.as_table }}</table>
      <div id="center">
        <input type="submit" value="Submit"/>
      </div>
    </form>

  </body>
</html>
