<!DOCTYPE html>
<html lang="en">
  <head>

    <link type="text/css" href="/static/css/create_reservation.css" rel="Stylesheet"/>

  </head>
  <body>

    <div id="header">
      <div id="headline">
        Reservation System
      </div>
      <div id="nav">
        <a href="../">View All Reservations</a>
        <a href="{% url 'reservation'%}">Create Reservation</a>
      </div>
    </div>

    <div>{{ success }}</div>
    <form action="" method="post">
      {% if reservation_form.errors %}
        <p class="error_message">
          Please correct the error(s) for {{ reservation_form.errors }}.
        </p>
      {% endif %}
      <table>{{ reservation_form.as_table }}</table>
      <div id="center-button">
        <input type="submit" value="Submit"/>
      </div>
    </form>

  </body>
</html>
