<!DOCTYPE html>
<html lang="en">
  <head>
    <link type="text/css" href="/static/css/index.css" rel="Stylesheet"/>
  </head>
  <body>
    {% load staticfiles %}
    <div id="header">
      <div id="headline">
        Reservation System
      </div>
      <div id="nav">
        <a href="/">View All Reservations</a>
        <a href="{% url 'reservation'%}">Create Reservation</a>
      </div>
    </div></br>
    <img src="{% static 'images/goodnews.jpg' %}" alt="Good news, everyone!" style="margin-left: 32%;"/>
  </body>
</html>
