{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" 
        href="{% static 'admin/css/forms.css' %} "/>
    <link rel="stylesheet" type="text/css" 
        href="{% static 'admin/css/base.css' %} "/>
    <link rel="stylesheet" type="text/css" 
        href="{% static 'admin/css/widgets.css' %}"/>

    <script type="text/javascript" 
        src="/admin/jsi18n/"></script>
    <script type="text/javascript" 
        src="{% static 'admin/js/core.js' %}"></script>
    <script type="text/javascript" 
        src="{% static 'admin/js/admin/RelatedObjectLookups.js' %}"></script>
    <script type="text/javascript" 
        src="{% static 'admin/js/jquery.js' %}"></script>
    <script type="text/javascript" 
        src="{% static 'admin/js/calendar.js' %}"></script>
    <script type="text/javascript" 
        src="{% static 'admin/js/admin/DateTimeShortcuts.js' %}"></script>
  </head>
  <body>
    <form action="" method="post">
      {% if reservation_form.errors %}
        <p class="error_message">
          Please correct the error(s) for {{ reservation_form.errors }}.
        </p>
      {% endif %}
      <table>{{ reservation_form.as_table }}</table>
      <input type="submit" value="Submit"/>
    </form>
  </body>
</html>
