form {
margin: 10px 0;
}

table {
margin: 0 auto;
font-family: proxima-nova, sans-serif;
font-size: 14pt;
}

td, th {
padding: 0 10px 5px 10px;
}

.helptext {
font-size: 11pt;
}

#id_email, #id_password {
font-size: 12pt;
width: 125%
}
