div {
font-family: proxima-nova, sans-serif;
}

table {
margin: 0 auto;
font-family: proxima-nova, sans-serif;
}

form {
margin: 10px 0;
}

#nav a {
display: inline;
text-decoration: none;
padding: 10px;
font-size: 150%;
}

#nav a:hover {
font-style: oblique;
background-color: #b1dafb;
padding: 10px;
font-size: 150%;
}

#headline {
text-align: center;
font-size: 200%;
padding: 10px;
}

#nav {
text-align: center;
margin-left: auto;
margin-right: auto;
}

#center {
text-align: center;
padding-top: 10px;
}
