div {
font-family: proxima-nova, sans-serif;
}

form {
margin: 10px 0;
}

input[type="submit"] {
font-size: 12pt;
height: 30px;
width: 65px;
}

table {
margin: 0 auto;
font-family: proxima-nova, sans-serif;
font-size: 14pt;
}

textarea {
resize: none;
}

td, th {
vertical-align: top;
padding: 0 10px 5px 10px;
}

.helptext {
font-size: 11pt;
}

#id_recreation, #id_email, #id_password, #id_date_choices, #id_time_choices, #id_duration, #id_notes {
width: 100%;
font-size: 12pt;
}

#nav a {
display: inline;
text-decoration: none;
padding: 8px;
font-size: 150%;
}

#nav a:hover {
background-color: #b1dafb;
padding: 8px;
font-size: 150%;
}

#headline {
text-align: center;
font-size: 200%;
padding: 10px;
}

#nav {
text-align: center;
margin-left: auto;
margin-right: auto;
}

#center {
text-align: center;
padding-top: 10px;
}
