div {
font-family: proxima-nova, sans-serif;
}

table {
padding: 0 20px;
margin: 20px;
font-family: proxima-nova, sans-serif;
text-align: center;
font-size: 14pt;
border-collapse: collapse;
}

td, th {
padding: 5px 10px;
border:1px solid #999;
}
