div {
font-family: proxima-nova, sans-serif;
}

table {
margin: 10px auto;
font-family: proxima-nova, sans-serif;
text-align: center;
font-size: 14pt;
border-collapse: collapse;
}

td, th {
padding: 5px 10px;
border:1px solid #999;
}

#nav {
text-align: center;
margin-left: auto;
margin-right: auto;
}

#nav a {
display: inline;
text-decoration: none;
padding: 10px;
font-size: 150%;
}

#nav a:hover {
font-style: oblique;
background-color: #b1dafb;
padding: 10px;
font-size: 150%;
}

#headline {
text-align: center;
font-size: 200%;
padding: 10px;
}

